.flex {
    display: flex;
}
.f-d-c {
    flex-direction: column;
}
.f-d-rr {
    flex-direction: row-reverse;
}
.f-d-r {
    flex-direction: row;
}
.f-d-cr {
    flex-direction: column-reverse;
}
.f-ai-c {
    align-items: center;
}
.f-ai-fs {
    align-items: flex-start;
}
.f-ai-fe {
    align-items: flex-end;
}
.f-jc-c {
    justify-content: center;
}
.f-jc-fe {
    justify-content: flex-end;
}
.f-jc-sb {
    justify-content: space-between;
}
.f-jc-sa {
    justify-content: space-around;
}
.f-fixed {
    flex-shrink: 0;
}
.f-fg-1 {
    flex-grow: 1;
}
.f-w-w {
    flex-wrap: wrap;
}


